/* #h{
    color:blue;
    }

h1{
    color:red;
}

.green-text{
    color:green;
}

#h{
    color:yellow;
}                          */

/*#bg{
    background-color: red;
} */

#bg{
    background-image: url('CSSimage.jpg');
    background-repeat: no-repeat;
    background-position: 5% 10%;
    background-size:100% 100% ;
    background-attachment:fixed;
}


/*body{
    background-color: black;
}  */


